@charset "utf-8";
/* CSS Document */

body {
	background-image:url("../Images/texture.jpg");
}

.columns {
	background-color:rgba(165,164,164,.6);
}

h1 {
  font-family: 'Rakkas', cursive;
  font-size: 100px;
  text-align:center;
}

h2 {
  font-family: 'Rakkas', cursive;
  font-size: 60px;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}

h3 {
  font-family: 'Gilda Display', serif;
  margin-bottom: 30px;
  text-align:center;
}

p {
  font-family: 'Gilda Display', serif;
  color: black;
  text-align:center;
  text-size:20px;
  font-weight:bold;
}

main {
  opacity: 0.9;
}

.bottom {
  padding-bottom: 100px;
}

.top-bar {
  background-color: black;
}

/*This section is the nav styles*/

nav ul {
  list-style-type: none;
  padding-top: 8px;
}

nav li {
  display: inline;
}

nav a:link, nav a:visited {
  text-decoration: none;
  font-size: 36px;
  color: firebrick;
  font-family: 'Amarante', cursive;
  text-shadow: 2px 2px 5px black;
  padding-left: 20px;
  padding-right: 20px;
}

nav a:hover {
  color: maroon;
  text-decoration: none;
}

nav a.current{
  color: maroon;
}

footer {
	text-align:center;
}